.container-menudivs {
  position: relative;
}
.menu-p1 {
  width: 90%;
  position: absolute;
  left: 5%;
  height: 60px;
  background-color: #e6e6e6;
  /*
  border-radius: 0 0 30px 30px;
  transform: skew(15deg);*/
  border-radius: 0 0 47px 47px;
  transform: skew(15deg);
  padding: 25px;
  z-index: 999;
}
.menu-p2 {
  width: 95%;
  position: absolute;
  left: 2.5%;
  background-color: #b3b4b7;
  border-radius: 0 0 45px 45px;
  transform: skew(15deg);
  height: 80px;
  z-index: 99;
}
.menu-p3 {
  background-color: #008cba;
  border-radius: 0 0 45px 45px;
  transform: skew(15deg);
  width: 100%;
  position: absolute;
  height: 100px;
  z-index: 9;
}
.main-menu-desk {
  position: absolute;
  z-index: 9999;
  width: 84%;
  left: 9.5%;
  top: 0px;
}
.logo-header {
  width: 75%;
}
.logo-header-sm {
  width: 10%;
}
.menu-mobile{
    display: none;
}
.menumb-1{
    background-color: #e6e6e6;
    padding: 0 5px;
}
.menumb-2{
    background-color: #b3b4b7;
    padding-bottom: 20px;
}
.menumb-3{
    background-color: #008cba;
    padding-bottom: 20px;
}
.mobile-nav-toggler{
    padding-top: 20px !important;
}
.breadcrumb-content{
    padding-top: 30px;
}
.breadcrumb-content h2{
    text-transform: uppercase;
    color: #e6e6e6;
}
.div-mapa-iframe iframe{
    width: 100% !important;
    height: 450px !important;
}
