.container-menudivs {
  position: relative;
}
.menu-p1 {
  width: 90%;
  position: absolute;
  left: 5%;
  height: 60px;
  background-color: #e6e6e6;
  /*
  border-radius: 0 0 30px 30px;
  transform: skew(15deg);*/
  border-radius: 0 0 47px 47px;
  transform: skew(15deg);
  padding: 25px;
  z-index: 999;
}
.menu-p2 {
  width: 95%;
  position: absolute;
  left: 2.5%;
  background-color: #b3b4b7;
  border-radius: 0 0 45px 45px;
  transform: skew(15deg);
  height: 80px;
  z-index: 99;
}
.menu-p3 {
  background-color: #008cba;
  border-radius: 0 0 45px 45px;
  transform: skew(15deg);
  width: 100%;
  position: absolute;
  height: 100px;
  z-index: 9;
}
.main-menu-desk {
  position: absolute;
  z-index: 9999;
  width: 84%;
  left: 9.5%;
  top: 0px;
}
.logo-header {
  width: 75%;
}
.logo-header-sm {
  width: 10%;
}
.menu-mobile{
    display: none;
}
.menumb-1{
    background-color: #e6e6e6;
    padding: 0 5px;
}
.menumb-2{
    background-color: #b3b4b7;
    padding-bottom: 20px;
}
.menumb-3{
    background-color: #008cba;
    padding-bottom: 20px;
}
.mobile-nav-toggler{
    padding-top: 20px !important;
}
.breadcrumb-content{
    padding-top: 30px;
}
.breadcrumb-content h2{
    text-transform: uppercase;
    color: #e6e6e6;
}
.div-mapa-iframe iframe{
    width: 100% !important;
    height: 450px !important;
}

#videoid{
    width: 100vw; height: 100vh; object-fit: cover; position: fixed; top: 0; left: 0;
}

/* Accordion styles */

.div-faqs input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.div-faqs label{
    color: #e6e6e6 !important;
}
.tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.tab {
    width: 100%;
    color: white;
    overflow: hidden;
}
.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #008cba;
    font-weight: bold;
    cursor: pointer;
   /* Icon */
}
.tab-label:hover {
    background: #008cba;
}
.tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}
.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: white;
    transition: all 0.35s;
}
.tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #2c3e50;
    cursor: pointer;
}
.tab-close:hover {
    background: #1a252f;
}
input:checked + .tab-label {
    background: #008cba;
}
input:checked + .tab-label::after {
    transform: rotate(90deg);
}
input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
}

@media only screen and (max-width: 711px) {
    /*
    #videoid{
        position: absolute;
        bottom: 0px;
        right: 0px;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1000;
        overflow: hidden;
    }*/
}